/* RegisterForm.css */

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* căn giữa theo chiều dọc */
  background-image: url("https://cdn.pixabay.com/photo/2021/11/18/03/30/floral-6805334_1280.png");
}

.register-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  width: 45%; /* Điều chỉnh kích thước của Card */
  margin-bottom: 4%;
  margin-left: auto;
  /* border-radius: 50px; */
  margin-right: 50px;
  height: 70%;
}

.ant-form-item {
  margin-bottom: 10px; /* Khoảng cách giữa các Form.Item */
  text-align: center; /* Canh giữa nội dung bên trong Form.Item */
}
.card__children {
  width: 55%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 70px;
}

.card__children--chooserole {
  width: 67%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 50px;
  height: auto;
}

.card__children--form {
  width: 60%;
  /* height: 50%; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  /* margin: auto; */
  margin-top: 70px;
  margin-left: 20%;
  height: 150%;
}

.btn-submit {
  text-align: center;
  background-color: green !important;
  margin-left: 40%;
}

.card__children--icon {
  margin-top: 20px;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__children--icons--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* styles.css */
/* RegisterForm.css */
/* ... */
.progress-bar {
  background-color: green;
}

.progress-text {
  font-weight: bold;
}

.Custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  margin-right: 20%;
  margin-top: 10px;
}

.card__content {
  font-weight: bold;
  font-size: 12.7px;
  margin-top: 15%;
}
