/* RegisterForm.css */

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* căn giữa theo chiều dọc */
}

.register-card {
  box-shadow: 1px 1px 1px grey;
  width: 60%; /* Điều chỉnh kích thước của Card */
  margin-bottom: 20%;
}

.ant-form-item {
  margin-bottom: 10px; /* Khoảng cách giữa các Form.Item */
  text-align: center; /* Canh giữa nội dung bên trong Form.Item */
}
.card__children {
  margin-top: 20px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 40px;
}

.card__children--chooserole {
  margin-top: 20px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 40px;
}

.btn-submit {
  text-align: center;
  background-color: green !important;
  margin-left: 40%;
}

.card__children--icon {
  margin-top: 20px;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__children--icons--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* styles.css */
/* RegisterForm.css */
/* ... */
.progress-bar {
  background-color: green;
}

.progress-text {
  font-weight: bold;
}

.Custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  margin-right: 20%;
  margin-top: 10px;
}

.card__content {
  font-weight: bold;
  font-size: 12.7px;
  margin-top: 15%;
}
