.section-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
.product-details {
  display: grid;
  padding: 20px;
}
.name span {
  font-weight: bold;
}
.name {
  padding: 20px;
}
.category span {
  font-weight: bold;
}
.category {
  display: grid;
  padding: 20px;
}
.description {
  padding: 20px;
}
.description span {
  font-weight: bold;
}
.rules {
  padding: 20px;
}
.rules span {
  font-weight: bold;
}
.product__code {
  padding: 20px;
}

.product__code span {
  font-weight: bold;
}
.price {
  display: grid;
  padding: 20px;
}
.price span {
  font-weight: bold;
}
.image {
  display: grid;
  padding: 20px;
}
.image span {
  font-weight: bold;
}
.rent-sale span {
  font-weight: bold;
}
.rent-sale {
  display: grid;
  padding: 20px;
}
.receipt {
  display: grid;
  padding: 20px;
}
.receipt span {
  font-weight: bold;
}

.numeric-input .ant-tooltip-inner {
  min-width: 32px;
  min-height: 37px;
}

.numeric-input .numeric-input-title {
  font-size: 14px;
}

.rent-price {
  display: flex;
  padding: 20px;
}

.rent-price span {
  font-weight: bold;
  /* margin-left: 60px; */
}

.rent-price__day {
  margin-right: 30px;
}
.basic-information--step1 {
  height: 40%;
  background-color: #e7e9eb;
  margin-bottom: 20px;
}

.basic-information--watch {
  /* display: flex; */
  background-color: #e7e9eb;
  margin-bottom: 20px;
}

.container-watch {
  display: flex;
  justify-content: space-around;
}

.field__watch--1 {
  display: grid;
}

.field__watch--2 {
  display: grid;
}
.basic-information--bag {
  background-color: #e7e9eb;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container-bag {
  display: flex;
  justify-content: space-around;
}

.field__bag--1 {
  flex-shrink: 0;
}

.field__bag--2 {
  flex-shrink: 0;
}

.basic-information--glasses {
  /* display: flex; */
  background-color: #e7e9eb;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.basic-information--earring {
  background-color: #e7e9eb;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.basic-information--shoe {
  background-color: #e7e9eb;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.basic-information--step3 {
  background-color: #e7e9eb;
}
.rent-price {
  display: grid;
}

.container-glass {
  display: flex;
  justify-content: space-around;
}

.field__glass--1 {
  flex-shrink: 0;
}

.field__glass--2 {
  flex-shrink: 0;
}

.container-shoe {
  display: flex;
  justify-content: space-around;
}

.field__shoe--1 {
  flex-shrink: 0;
}

.field__shoe--2 {
  flex-shrink: 0;
}

.container-erring {
  display: flex;
  justify-content: space-around;
}

.field__earring--1 {
  flex-shrink: 0;
}
.field__earring--2 {
  flex-shrink: 0;
}

.basic-information--hat {
  background-color: #e7e9eb;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container-hat {
  display: flex;
  justify-content: space-around;
}
.field__hat--1 {
  flex-shrink: 0;
}

.field__hat--2 {
  flex-shrink: 0;
}

.text {
  font-weight: bold;
}
.custom-button {
  transition: background 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: green;
  color: white;
}

.custom-button .anticon {
  transition: color 0.3s;
}

.custom-button:hover .anticon {
  color: white;
}

.custom-button--delete {
  transition: background 0.3s, color 0.3s;
}

.custom-button--delete:hover {
  background-color: red;
  color: white;
}

.custom-button--delete .anticon {
  transition: color 0.3s;
}

.custom-button--delete:hover .anticon {
  color: white;
}
